// Terminal.module.scss

.root {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  overflow: hidden;
  min-width: 33.8%;
  max-width: 33.8%;
  min-height: 600px;
  height: calc(50vh - 40px);
}

.terminal {
  display: block;
  background-color: #2c001e;
  color: #eeeeee;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  padding: 20px;
  overflow-y: scroll;
  height: 100%;
  //flex-wrap: nowrap;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.terminal::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.terminalHeader {
  height: 100px;
  //width: 100%;
  background-color: #121212;
}

.input {
  text-wrap: normal;
  caret-color: transparent;
  caret-shape: block;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #a9c6c1;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  padding-left: 12px;
}

.user {
  font-family: "Ubuntu Mono B", monospace; /* Шрифт терминала */
  font-size: 18px; /* Размер текста */
  color: #26a719; /* Цвет команд */
}

.userWhite {
  font-family: "Ubuntu Mono B", monospace; /* Шрифт терминала */
  font-size: 18px; /* Размер текста */
  color: #a9c6c1;
}

.userBlue {
  font-family: "Ubuntu Mono B", monospace; /* Шрифт терминала */
  font-size: 18px; /* Размер текста */
  color: #0089f6;
}

.terminal__content {
  display: flex;
  flex-direction: column;
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
}

/* Стили для текста в терминале */
.terminal__content span {
  display: inline-block;
  padding: 2px;
}

/* Стили для команд в терминале */
.terminal__content .command {
  color: #8abeb7; /* Цвет команд */
}

/* Стили для ответов в терминале */
.terminal__content .response {
  color: #a9c6c1; /* Цвет ответов */
}

// Terminal.module.scss

.blinkingCaret {
  animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    color: transparent;
  }
  50% {
    color: #eeeeee; /* Цвет каретки */
  }
}

//@media screen and (max-width: 988px) {
//  .root {
//    margin: 12px;
//  }
//}

//@media screen and (max-width: 1067px) {
//  //.terminalHeader {
//  //  height: 100px;
//  //}
//
//  .root {
//    width: auto;
//  }
//
//  .terminal {
//    height: 500px;
//  }
//}

@media screen and (max-width: 988px) {
  .root {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .input {
    font-size: 10px;
  }

  .user {
    font-size: 10px;
  }

  .userBlue {
    font-size: 10px;
  }

  .userWhite {
    font-size: 10px;
  }
}

