.root {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.item {
  position: relative;
  display: flex;
  gap: 20px
}

@media screen and (max-width: 988px) {
  .root {
    gap: 12px;
    margin: 12px;
  }
  .item {
    gap: 12px;
  }
}

